@font-face {
  font-weight: 400;
  font-family: 'Book';
  font-style: normal;
  font-stretch: normal;
  src:
    url(../fonts/bebasneue-book-webfont.woff2) format('woff2'),
    url(../fonts/bebasneue-book-webfont.woff) format('woff')
}

@font-face {
  font-weight: 700;
  font-family: 'Montserrat';
  font-style: normal;
  font-stretch: normal;
  src:
    url(../fonts/Montserrat-Bold.woff2) format('woff2'),
    url(../fonts/Montserrat-Bold.woff) format('woff')
}